[Unit]
Description=The wandbox backend service
After=network.target

[Service]
ExecStart=/usr/bin/sudo -u cattleshed /opt/wandbox/bin/cattleshed

[Install]
WantedBy=multi-user.target
