[Unit]
Description=The wandbox backend service
After=network.target

[Service]
ExecStart=/opt/wandbox/bin/cattleshed

[Install]
WantedBy=multi-user.target
